.room-name
  text-align: left

.available
  text-align: right

.align-right
  text-align: right

.room-card-link, .room-card-container
  color: black

.room-card-link:hover
  text-decoration: none

.room-card-container
  width: 100%
  margin: 10px
  border-radius: 15px
  border: 1px solid #CCC
  box-shadow: 3px 3px 3px #CCC
  cursor: pointer
  transition: box-shadow linear 0.3s 0s

  .room-title
    font-size: 26px
    text-align: center
    font-weight: bold
    border-bottom: 1px solid #CCC

  .room-state
    text-align: center
    padding: 5px
    font-weight: lighter

  .time-info
    text-align: center
    padding: 5px
    color: #AAA

.room-card-container:hover
  box-shadow: 5px 5px 5px #AAA

.free
  color: #2bd155

.taken
  color: #d8401a

.half
  color: #e5c00b