<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
	</servlet>
    <servlet>
        <servlet-name>Desktop Servlet</servlet-name>
        <servlet-class>nl.utwente.servlet.desktopInterface.DesktopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Room Servlet</servlet-name>
        <servlet-class>nl.utwente.servlet.desktopInterface.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Room Overview Servlet</servlet-name>
        <servlet-class>nl.utwente.servlet.desktopInterface.RoomOverviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking Servlet</servlet-name>
        <servlet-class>nl.utwente.servlet.desktopInterface.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tablet Index Servlet</servlet-name>
        <servlet-class>nl.utwente.servlet.tabletInterface.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Desktop login Servlet</servlet-name>
        <servlet-class>nl.utwente.servlet.desktopInterface.LoginServlet</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>Desktop Servlet</servlet-name>
        <url-pattern>/desktop/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Room Servlet</servlet-name>
        <url-pattern>/desktop/room/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Room Overview Servlet</servlet-name>
        <url-pattern>/desktop/rooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking Servlet</servlet-name>
        <url-pattern>/desktop/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tablet Index Servlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Desktop login Servlet</servlet-name>
        <url-pattern>/desktop/login</url-pattern>
    </servlet-mapping>
</web-app>